* {
  font-family: 'Candara', sans-serif;
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 7rem;

}

div h2 {
  font-size: 3rem;
  font-family: 'Candara', sans-serif;
  background-color: antiquewhite;
  border: antiquewhite;
  border-radius: 1rem;
  background: #a5cfd7;
  padding: 1rem;
  width: auto;
  height: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: #f8f5f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}